# Broker MQTT (HiveMQ Cloud)
MQTT_HOST=xxxxxxxx.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USER=ganti_username_hivemq
MQTT_PASSWORD=ganti_password_hivemq

# Login dashboard (WAJIB diisi, dashboard ini bisa START/STOP mesin fisik)
DASH_USER=admin
DASH_PASSWORD=ganti-password-kuat

# Opsional
PORT=3000
DB_PATH=./oven.db
HISTORY_RETENTION_DAYS=30
