# Broker MQTT (EMQX Cloud Serverless)
MQTT_HOST=xxxxxxxx.ala.asia-southeast1.emqxsl.com
MQTT_PORT=8883
MQTT_USER=ganti_username_emqx
MQTT_PASSWORD=ganti_password_emqx

# Login dashboard (WAJIB diisi, dashboard ini bisa START/STOP mesin fisik)
DASH_USER=admin
DASH_PASSWORD=ganti-password-kuat

# Opsional
PORT=3000
DB_PATH=./oven.db
HISTORY_RETENTION_DAYS=30
